# Secrets / credentials
*.pem
*.key
**/secrets/
**/credentials*
*.env

# OS / editor junk
.DS_Store
.vscode/
*.log

passwords.conf
**/server.conf

!indexer/aten-spk-idx1/opt/splunk/etc/apps/aten-tech_cluster_indexer_base/local/server.conf
